In [1]:
import pandas as pd

In [2]:
earthquake_path = "Resources/earthquakes.csv"
earthquake_data = pd.read_csv(earthquake_path)
earthquake_data

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2022-10-01T23:50:15.010Z,19.428167,-155.618333,-0.740,2.99,ml,44.0,78.0,NaN,0.19,...,2022-10-04T03:25:54.350Z,"26 km E of Honaunau-Napoopoo, Hawaii",earthquake,0.21,0.330,0.169825,39.0,reviewed,hv,hv
1,2022-10-01T23:41:28.811Z,-15.041100,-172.130300,5.000,4.90,mb,45.0,111.0,1.175,0.75,...,2022-10-02T00:17:19.040Z,"121 km SSW of Lotofag?, Samoa",earthquake,6.90,1.858,0.092000,37.0,reviewed,us,us
2,2022-10-01T22:39:31.682Z,-57.944400,-25.558300,45.111,4.60,mb,31.0,87.0,7.125,1.12,...,2022-10-01T22:57:43.040Z,NaN,earthquake,11.67,8.845,0.102000,29.0,reviewed,us,us
3,2022-10-01T22:37:55.362Z,58.339300,-133.288500,0.000,2.90,ml,NaN,NaN,NaN,0.60,...,2022-10-01T22:47:45.040Z,"66 km E of Juneau, Alaska",earthquake,NaN,0.400,NaN,NaN,automatic,ak,ak
4,2022-10-01T21:24:17.856Z,-5.336300,133.760000,34.588,4.40,mb,23.0,84.0,2.835,0.69,...,2022-10-01T21:47:45.040Z,"Kepulauan Kai, Indonesia",earthquake,5.68,6.440,0.155000,12.0,reviewed,us,us
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17458,2022-02-01T00:52:43.137Z,-31.336100,-68.612700,111.400,4.60,mb,NaN,30.0,0.217,0.86,...,2022-04-15T17:57:09.040Z,"13 km NW of Albard√≥n, Argentina",earthquake,6.10,4.400,0.043000,163.0,reviewed,us,us
17459,2022-02-01T00:36:25.621Z,52.030100,177.129000,10.000,3.50,ml,NaN,177.0,0.858,0.60,...,2022-04-15T17:57:29.040Z,"283 km ESE of Attu Station, Alaska",earthquake,4.90,1.900,0.097000,14.0,reviewed,us,us
17460,2022-02-01T00:26:27.912Z,51.985500,177.356100,10.000,3.30,ml,NaN,176.0,0.715,0.92,...,2022-04-15T17:57:24.040Z,"299 km ESE of Attu Station, Alaska",earthquake,3.70,2.000,0.097000,14.0,reviewed,us,us
17461,2022-02-01T00:18:53.742Z,-7.588000,127.496800,190.110,4.60,mb,NaN,50.0,3.787,0.72,...,2022-04-15T17:57:09.040Z,"116 km NNE of Lospalos, Timor Leste",earthquake,6.90,5.100,0.071000,61.0,reviewed,us,us
17462,2022-02-01T00:01:34.026Z,-8.562800,118.274700,127.650,4.40,mb,NaN,46.0,3.818,1.18,...,2022-04-15T17:57:09.040Z,"20 km W of Dompu, Indonesia",earthquake,7.80,5.600,0.117000,21.0,reviewed,us,us

In [3]:
earthquake_data_dropped = earthquake_data.drop(earthquake_data.columns[[5,6,7,8,9,10,11,12,14,15,16,17,18,19,20,21]],axis=1)

In [4]:
earthquake_data_dropped

,time,latitude,longitude,depth,mag,place
0,2022-10-01T23:50:15.010Z,19.428167,-155.618333,-0.740,2.99,"26 km E of Honaunau-Napoopoo, Hawaii"
1,2022-10-01T23:41:28.811Z,-15.041100,-172.130300,5.000,4.90,"121 km SSW of Lotofag?, Samoa"
2,2022-10-01T22:39:31.682Z,-57.944400,-25.558300,45.111,4.60,NaN
3,2022-10-01T22:37:55.362Z,58.339300,-133.288500,0.000,2.90,"66 km E of Juneau, Alaska"
4,2022-10-01T21:24:17.856Z,-5.336300,133.760000,34.588,4.40,"Kepulauan Kai, Indonesia"
...,...,...,...,...,...,...
17458,2022-02-01T00:52:43.137Z,-31.336100,-68.612700,111.400,4.60,"13 km NW of Albard√≥n, Argentina"
17459,2022-02-01T00:36:25.621Z,52.030100,177.129000,10.000,3.50,"283 km ESE of Attu Station, Alaska"
17460,2022-02-01T00:26:27.912Z,51.985500,177.356100,10.000,3.30,"299 km ESE of Attu Station, Alaska"
17461,2022-02-01T00:18:53.742Z,-7.588000,127.496800,190.110,4.60,"116 km NNE of Lospalos, Timor Leste"
17462,2022-02-01T00:01:34.026Z,-8.562800,118.274700,127.650,4.40,"20 km W of Dompu, Indonesia"

In [5]:
earthquake_data_renamed = earthquake_data_dropped.rename(columns={"time":"Time", "latitude":"Latitude", "longitude":"Longitude", "depth":"Depth(km)", "mag":"Magnitude", "place": "Location"})

In [6]:
earthquake_data_renamed

,Time,Latitude,Longitude,Depth(km),Magnitude,Location
0,2022-10-01T23:50:15.010Z,19.428167,-155.618333,-0.740,2.99,"26 km E of Honaunau-Napoopoo, Hawaii"
1,2022-10-01T23:41:28.811Z,-15.041100,-172.130300,5.000,4.90,"121 km SSW of Lotofag?, Samoa"
2,2022-10-01T22:39:31.682Z,-57.944400,-25.558300,45.111,4.60,NaN
3,2022-10-01T22:37:55.362Z,58.339300,-133.288500,0.000,2.90,"66 km E of Juneau, Alaska"
4,2022-10-01T21:24:17.856Z,-5.336300,133.760000,34.588,4.40,"Kepulauan Kai, Indonesia"
...,...,...,...,...,...,...
17458,2022-02-01T00:52:43.137Z,-31.336100,-68.612700,111.400,4.60,"13 km NW of Albard√≥n, Argentina"
17459,2022-02-01T00:36:25.621Z,52.030100,177.129000,10.000,3.50,"283 km ESE of Attu Station, Alaska"
17460,2022-02-01T00:26:27.912Z,51.985500,177.356100,10.000,3.30,"299 km ESE of Attu Station, Alaska"
17461,2022-02-01T00:18:53.742Z,-7.588000,127.496800,190.110,4.60,"116 km NNE of Lospalos, Timor Leste"
17462,2022-02-01T00:01:34.026Z,-8.562800,118.274700,127.650,4.40,"20 km W of Dompu, Indonesia"

In [7]:
earthquake_round = earthquake_data_renamed.round(2)
earthquake_clean = earthquake_round.dropna()
earthquake_clean

,Time,Latitude,Longitude,Depth(km),Magnitude,Location
0,2022-10-01T23:50:15.010Z,19.43,-155.62,-0.74,2.99,"26 km E of Honaunau-Napoopoo, Hawaii"
1,2022-10-01T23:41:28.811Z,-15.04,-172.13,5.00,4.90,"121 km SSW of Lotofag?, Samoa"
3,2022-10-01T22:37:55.362Z,58.34,-133.29,0.00,2.90,"66 km E of Juneau, Alaska"
4,2022-10-01T21:24:17.856Z,-5.34,133.76,34.59,4.40,"Kepulauan Kai, Indonesia"
6,2022-10-01T19:41:35.962Z,-6.73,129.93,127.21,4.60,Banda Sea
...,...,...,...,...,...,...
17458,2022-02-01T00:52:43.137Z,-31.34,-68.61,111.40,4.60,"13 km NW of Albard√≥n, Argentina"
17459,2022-02-01T00:36:25.621Z,52.03,177.13,10.00,3.50,"283 km ESE of Attu Station, Alaska"
17460,2022-02-01T00:26:27.912Z,51.99,177.36,10.00,3.30,"299 km ESE of Attu Station, Alaska"
17461,2022-02-01T00:18:53.742Z,-7.59,127.50,190.11,4.60,"116 km NNE of Lospalos, Timor Leste"
17462,2022-02-01T00:01:34.026Z,-8.56,118.27,127.65,4.40,"20 km W of Dompu, Indonesia"

In [8]:
df = pd.DataFrame(earthquake_clean)

In [9]:
earthquake_clean.to_csv("Resources/Earthquakeclean.csv", index=False, header = True)

Load to MongoDB Database

In [10]:
import pymongo

conn = 'mongodb://localhost:27017'

client = pymongo.MongoClient(conn)

db = client.Earthquake_Data

In [11]:
locations=earthquake_clean['Location']
locations

0        26 km E of Honaunau-Napoopoo, Hawaii
1               121 km SSW of Lotofag?, Samoa
3                   66 km E of Juneau, Alaska
4                    Kepulauan Kai, Indonesia
6                                   Banda Sea
                         ...
17458         13 km NW of Albard√≥n, Argentina
17459      283 km ESE of Attu Station, Alaska
17460      299 km ESE of Attu Station, Alaska
17461     116 km NNE of Lospalos, Timor Leste
17462             20 km W of Dompu, Indonesia
Name: Location, Length: 16958, dtype: object

In [12]:
magnitude=earthquake_clean['Magnitude']
magnitude

0        2.99
1        4.90
3        2.90
4        4.40
6        4.60
         ...
17458    4.60
17459    3.50
17460    3.30
17461    4.60
17462    4.40
Name: Magnitude, Length: 16958, dtype: float64

In [13]:
longitude=earthquake_clean['Longitude']
longitude

0       -155.62
1       -172.13
3       -133.29
4        133.76
6        129.93
          ...
17458    -68.61
17459    177.13
17460    177.36
17461    127.50
17462    118.27
Name: Longitude, Length: 16958, dtype: float64

In [14]:
latitude=earthquake_clean['Latitude']
latitude

0        19.43
1       -15.04
3        58.34
4        -5.34
6        -6.73
         ...
17458   -31.34
17459    52.03
17460    51.99
17461    -7.59
17462    -8.56
Name: Latitude, Length: 16958, dtype: float64

In [15]:
depth=earthquake_clean['Depth(km)']
depth

0         -0.74
1          5.00
3          0.00
4         34.59
6        127.21
          ...
17458    111.40
17459     10.00
17460     10.00
17461    190.11
17462    127.65
Name: Depth(km), Length: 16958, dtype: float64

In [16]:
time=earthquake_clean['Time']
time

0        2022-10-01T23:50:15.010Z
1        2022-10-01T23:41:28.811Z
3        2022-10-01T22:37:55.362Z
4        2022-10-01T21:24:17.856Z
6        2022-10-01T19:41:35.962Z
                   ...
17458    2022-02-01T00:52:43.137Z
17459    2022-02-01T00:36:25.621Z
17460    2022-02-01T00:26:27.912Z
17461    2022-02-01T00:18:53.742Z
17462    2022-02-01T00:01:34.026Z
Name: Time, Length: 16958, dtype: object

In [17]:
cols=earthquake_clean.columns.to_list()
headings=[]
for i in range(1,len(cols)):
    headings.append(cols[i])
headings

['Latitude', 'Longitude', 'Depth(km)', 'Magnitude', 'Location']

In [26]:
# get country list to for loop
locations=earthquake_clean['Location']

cols=earthquake_clean.columns.to_list()

#get headings list to for loop
headings=[]
for i in range(1,len(cols)):
    headings.append(cols[i])
headings

collector=[]

try:
    for i in range(0,len(locations)):
        for j in range(0,len(headings)):
            

            location = earthquake_clean.loc[(earthquake_clean['Location']==locations[i]),[headings[j]]].squeeze()
            
            magnitude = earthquake_clean.loc[(earthquake_clean['Magnitude']==locations[i]),[headings[j]]].squeeze()

            depth = earthquake_clean.loc[(earthquake_clean['Depth(km)']==locations[i]),[headings[j]]].squeeze()
            
            latitude = earthquake_clean.loc[(earthquake_clean['Latitude']==locations[i]),[headings[j]]].squeeze()
            
            longitude = earthquake_clean.loc[(earthquake_clean['Longitude']==locations[i]),[headings[j]]].squeeze()
            
            time = earthquake_clean.loc[(earthquake_clean['Time']==locations[i]),[headings[j]]].squeeze()
            
            collection = {'Index':i,'Place':locations[i],'Magnitude':str(magnitude),'Time':str(time),'Depth':str(depth),'Longitude':str(longitude),'Latitude':str(latitude)}
                         
            collector.append(collection)

except Exception as e:
        print(e)

2